// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana, arial, helvetica, sans-serif;
}

.top-headline {
	font-size: 26px;
	margin-left: 30px;
	margin-top: 25px;
}

.top-text, .top-start-button {
	font-size: 13px;
	line-height: 60px;
	margin-left: 65px;
}